<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 left-align card-panel hoverable"><h4>New Bark</h4>

      <%= render 'form', bark: @bark %>

      <%= link_to 'Back', barks_path %>
    </div>
  </div>
</div>
