<nav>
  <div class="nav-wrapper">
    <ul class="brand-logo left">
      <li><%= link_to 'Woofer', root_path %></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'New Bark', new_bark_path %></li>
      <% if doggo_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_doggo_session_path, :method => :delete) %>
      </li>
      <% else %>
      <li>
        <%= link_to('Login', new_doggo_session_path)  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
