<div class="container">
    <div class="row">
        <% @barks.each do |bark| %>
            <%#= link_to(bark) do %>
                <div class="col s6 offset-s3 left-align card-panel hoverable">
                    <h6><%= link_to bark.doggo.email, '#' %></h6>
                    <p><%= bark.description %></p>
                    <p><%= link_to 'Show', bark %></p>
                </div>
            <%# end %>
        <% end %>
    </div>
</div>
